/* Stylesheet by Greg Grube, 2020 */
 #mapid {
    height: 700px;
    width: 70%;
    display: inline-block;
}

#panel {
    width: 30%;
    height: 100%;
    padding: 10px;
    font-size: 12px;
    position:absolute;
    overflow: scroll;
    background-color: rgba(0,0,0,.9);
    color: white;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 20px;
    border: 2px solid rgba(0,0,0,0.4);
}

#panel2 {
    background-color: rgba(200,220,190,0.8);
    font-size: 12px;
    color: #213A1B;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: "Open Sans", Arial, sans-serif;
    width: 100%;
}

h3 {
    font-family: "Verdana", Arial, serif;   
}

#sources {
    width: 70%;
    height: 5%;
    padding: 1px;
    background-color: rgba(197, 108, 57, 0.6);
    display: inline-block;
    font-size: 10px;
    vertical-align: top;
    text-align: center;
    line-height: 20px;
    border: 2px solid rgba(0,0,0,0.7);
    top: 93%;
    left: 0%;
}

#range {
    width: 65%;
    margin: 0 auto 30px;
    position: left;
    z-index: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    position: fixed;
    top: 88%;
    left: 2.5%;
    
}


.leaflet-popup-content p {
    margin: 0.2em 0;
}

.leaflet-popup-container p {
    margin: 0.2em 0;
    
}

.noUi-connect {
  background: #213A1B;
}

#input-number-max {
  display: none;
}

#input-number-min {
  display: none;
}

.table {
    margin: 0 0px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    font-size: 9.0px;
    font-family: "Verdana", Arial, serif; 
    table-layout: fixed;
    width: 100%;
    
}

.table, td {
    border: 1px solid #213A1B;
    text-align: center;
    
}

.p {
  width: 52%;
}

.s {
  width: 5%;
}

.y {
  width: 5%;
}

.o {
  width: 43%;
}

/*** L.easyButton ***/
.leaflet-bar button,
.leaflet-bar button:hover {
  background-color: #fff;
  border: none;
  padding: 0px;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 27px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #213A1B;
}
.leaflet-bar button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
}
.leaflet-bar button:hover {
  background-color: #f4f4f4;
}
.leaflet-bar button:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.leaflet-bar button:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}
.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .4;
}
.easy-button-button .button-state{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.leaflet-touch .leaflet-bar button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.bigger{
    font-size: 130%;
}
